.container2 {
    max-width: 100%;
    aspect-ratio: 1;
    margin: 0 auto;
    color: black;
    padding: 20px;
    margin-top: 3rem;
    overflow: hidden;
   }
   
   .heading {
    text-align: center;
    margin-bottom: 20px;
   }
   
   .table {
    width: 100%;
    border-collapse: collapse;
   }
   
   .table th,
   .table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
   }
   
   
   .item-name {
    margin-right: 5px;
   }
   
   .details {
    list-style-type: none;
    padding: 0;
   }
   
   .detail {
    margin-bottom: 5px;
   }
   
   .detail-label {
    font-weight: bold;
   }
   
   .key-values {
    list-style-type: none;
    padding: 0;
   }
   
   .detail-value {
    display: inline;
   }
   
   .loading {
    text-align: center;
    font-size: 24px;
    margin-top: 50px;
   }