body.dark-mode {
    background-color: #333;
    color: white;
}
p{
    color:black !important;
}
html,
body {
    margin: 0;
    padding: 0;
    /* Set the background color for the entire page */
    color: white;
}

.container.dark-mode {
    background-color: #111;
    color: white;
}

.wrapper.dark-mode-fields {
    background-color: #222;
}

.add_input.dark-mode-fields {
    /* Adjusted padding for dark mode */
    background-color: #222;
    /* Adjusted background color for dark mode */
}

.input.dark-mode-input,
select.dark-mode-input {
    /* Modify styles for input in dark mode */
    background-color: #333;
    color: white;
    border: 1px solid #555;
    /* Adjusted padding for dark mode */
}
.button.dark-mode-button {
    background-color: #555;
    color: white;
    width: 100%;
  padding: 1rem;
  margin: .5rem 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
/* Existing styles remain unchanged */

/* Dark mode styles */
.container2.dark-mode{
    background-color: #333;
    color: white;
  }
  
  .heading.dark-mode {
    color: white;
  }
  
  .table.dark-mode th,
  .table.dark-mode td {
    border-bottom: 1px solid #ddd;
    color: white;
  }
  
  .table.dark-mode th {
    background-color: #444;
  }
  
  .item-name.dark-mode {
    color: white;
  }
  
  .details.dark-mode {
    color: white;
  }
  
  .detail.dark-mode {
    margin-bottom: 5px;
  }
  
  .detail-label.dark-mode {
    font-weight: bold;
  }
  
  .key-values.dark-mode {
    color: white;
  }
  
  .detail-value.dark-mode {
    display: inline;
    color: white;
  }
  
  .loading.dark-mode {
    color: white;
  }
  
  /* Additional dark mode styles can be added as needed */
  
  .dark-mode .nav-link:hover {
    background-color: #444; /* Dark background on hover in dark mode */
  }
  
  .dark-mode {
    color: white;
  }
  
  .dark-mode-button {
    background-color: #333;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
body {
    transition: background-color 0.5s, color 0.5s;
}

.container,.container2,.navbar{
    transition: background-color 0.5s, color 0.5s;
}
.wrapper {
    transition: background-color 0.5s;
}

.add_input,select {
    transition: background-color 0.5s, border 0.5s, padding 0.5s;
}

.input {
    transition: background-color 0.5s, color 0.5s, border 0.5s, padding 0.5s;
}

.button {
    transition: background-color 0.5s, color 0.5s, padding 0.5s;
}